In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
grab = pd.read_csv('C:/Users/GE62/Desktop/grabData.csv')

In [4]:
grab.head()

,Metrics,Requests,Rides,Fare,NewDriver,TotalDrivers,OnlineDrivers,AvgDistance/Ride(km),AvgDuration/Ride(min)
0,6/7/2015,3352,2179,9930,13,213,176,6,25
1,7/7/2015,3248,2537,8970,31,244,237,10,47
2,8/7/2015,3772,2155,18337,31,275,173,9,66
3,9/7/2015,4005,1981,12610,28,303,170,12,95
4,10/7/2015,3906,1996,12656,24,327,262,8,94

In [86]:
ratioRR = list()
ratioOT = list()
for x in range(14):
    ratio1 = (grab['Rides'].iloc[x])/(grab['Requests'].iloc[x])
    ratio2 = (grab['OnlineDrivers'].iloc[x])/(grab['TotalDrivers'].iloc[x])
    ratioRR.append(ratio1)
    ratioOT.append(ratio2)

grab['Rides/Requests'] = ratioRR
grab['Online/Total'] = ratioOT

In [54]:
def pearson_r(x, y):
    """Compute Pearson correlation coefficient between two arrays."""
    corr_mat = np.corrcoef(x,y)

    
    return corr_mat[0,1]

In [96]:
def array_quant(x):
    avg = int(np.mean(x))
    med = int(np.median(x))
    var = np.mean((np.array(x)-avg)**2)
    std = np.sqrt(var)
    rmax = x.max()
    rmin = x.min()
    arr = np.array([avg,med,var,std,rmax,rmin])
    return(arr)

def array_quants(x):
    avg = np.mean(x)
    med = np.median(x)
    var = np.mean((np.array(x)-avg)**2)
    std = np.sqrt(var)
    rmax = x.max()
    rmin = x.min()
    arr = np.array([avg,med,var,std,rmax,rmin])
    return(arr)

In [97]:
quantDuration = array_quant(grab['AvgDuration/Ride(min)'])
quantDistance = array_quant(grab['AvgDistance/Ride(km)'])
quantRequests = array_quant(grab['Requests'])
quantRides = array_quant(grab['Rides'])
quantNewDriver = array_quant(grab['NewDriver'])
quantOnlineDrivers = array_quant(grab['OnlineDrivers'])
quantRatioRR = array_quants(grab['Rides/Requests'])
quantRatioOT = array_quants(grab['Online/Total'])

In [98]:
df_quant = pd.DataFrame(columns=['Metric','Requests','Rides','Fare','NewDriver','OnlineDrivers','AvgDistance/Ride(km)',
                                 'AvgDuration/Ride(min)','Rides/Requests','Online/Total'])

In [99]:
df_quant['Metric'] = ['Mean','Median','Variance','StandardDeviation','Max14Days','Min14Days']
df_quant['Requests'] = quantRequests
df_quant['Rides'] = quantRides
df_quant['Fare'] = [15666,13737,27263997,5221,25843,8970]
df_quant['NewDriver'] = quantNewDriver
df_quant['OnlineDrivers'] = quantOnlineDrivers
df_quant['AvgDistance/Ride(km)'] = quantDistance
df_quant['AvgDuration/Ride(min)'] = quantDuration
df_quant['Rides/Requests'] = quantRatioRR
df_quant['Online/Total'] = quantRatioOT

In [100]:
df_quant

,Metric,Requests,Rides,Fare,NewDriver,OnlineDrivers,AvgDistance/Ride(km),AvgDuration/Ride(min),Rides/Requests,Online/Total
0,Mean,4081.000000,2078.000000,15666,32.000000,311.000000,9.000000,65.000000,0.521150,0.732032
1,Median,3966.000000,2037.000000,13737,31.000000,262.000000,9.000000,68.000000,0.502820,0.750371
2,Variance,276931.214286,32503.428571,27263997,180.500000,17108.500000,3.642857,619.857143,0.010530,0.018060
3,StandardDeviation,526.242543,180.287073,5221,13.435029,130.799465,1.908627,24.896930,0.102617,0.134388
4,Max14Days,4999.000000,2537.000000,25843,60.000000,595.000000,12.000000,95.000000,0.781096,0.971311
5,Min14Days,3248.000000,1784.000000,8970,10.000000,170.000000,6.000000,21.000000,0.356871,0.550781

In [88]:
grab

,Metrics,Requests,Rides,Fare,NewDriver,TotalDrivers,OnlineDrivers,AvgDistance/Ride(km),AvgDuration/Ride(min),Rides/Requests,Online/Total
0,6/7/2015,3352,2179,9930,13,213,176,6,25,0.650060,0.826291
1,7/7/2015,3248,2537,8970,31,244,237,10,47,0.781096,0.971311
2,8/7/2015,3772,2155,18337,31,275,173,9,66,0.571315,0.629091
3,9/7/2015,4005,1981,12610,28,303,170,12,95,0.494632,0.561056
4,10/7/2015,3906,1996,12656,24,327,262,8,94,0.511009,0.801223
5,11/7/2015,3555,2047,19877,10,337,253,12,76,0.575809,0.750742
6,12/7/2015,3928,1837,22316,37,374,239,6,21,0.467668,0.639037
7,13/7/2015,4764,1963,25843,50,424,318,10,35,0.412049,0.750000
8,14/7/2015,4999,1784,10101,37,461,263,8,67,0.356871,0.570499
9,15/7/2015,3849,2028,21673,51,512,282,9,69,0.526890,0.550781
10,16/7/2015,4040,2257,10523,60,572,440,12,94,0.558663,0.769231
11,17/7/2015,4414,2148,14327,36,608,553,9,52,0.486633,0.909539
12,18/7/2015,4864,2012,19021,28,636,394,8,85,0.413651,0.619497
13,19/7/2015,4443,2176,13147,25,661,595,10,90,0.489759,0.900151

In [194]:
df_pearson = pd.DataFrame(columns = ['AvgDistance/Ride(km)&AvgDuration/Ride(min)', 'TotalDrivers&OnlineDrivers', 
                                     'Rides&Requests','Rides&OnlineDrivers','Rides&Fare','Fare&AvgDistance/Ride(km)',
                                    'Fare&AvgDuration/Ride(min)', 'Rides/Requests&Online/Total'])

In [195]:
pcDistDura = pearson_r(grab['AvgDistance/Ride(km)'],grab['AvgDuration/Ride(min)'])

In [196]:
pcTotalOnline = pearson_r(grab['TotalDrivers'],grab['OnlineDrivers'])

In [197]:
pcRideRequest = pearson_r(grab['Rides'],grab['Requests'])

In [198]:
pcRideOnline = pearson_r(grab['Rides'],grab['OnlineDrivers'])

In [199]:
pcRideFare = pearson_r(grab['Rides'],grab['Fare'])

In [200]:
pcFareDistance = pearson_r(grab['Fare'],grab['AvgDistance/Ride(km)'])

In [201]:
pcFareDuration =pearson_r(grab['Fare'],grab['AvgDuration/Ride(min)'])

In [202]:
pcRROT = pearson_r(grab['Rides/Requests'],grab['Online/Total'])

In [204]:
pc = [pcDistDura,pcTotalOnline,pcRideRequest,pcRideOnline,pcRideFare,pcFareDistance,pcFareDuration,pcRROT]

In [207]:
df_pearson.loc[0] = pc

In [208]:
df_pearson

,AvgDistance/Ride(km)&AvgDuration/Ride(min),TotalDrivers&OnlineDrivers,Rides&Requests,Rides&OnlineDrivers,Rides&Fare,Fare&AvgDistance/Ride(km),Fare&AvgDuration/Ride(min),Rides/Requests&Online/Total
0,0.585079,0.88537,-0.558588,0.168897,-0.451798,-0.061494,-0.270723,0.541983

In [105]:
growthTotal = (661-213)/213

In [106]:
growthTotal

2.103286384976526

In [159]:
def ma(x):
    ma_list = [int(np.mean([x.iloc[i-2],x.iloc[i-1],x.iloc[i]])) if i>1 else None for i in range(14)]
    return(ma_list)
def mas(x):
    ma_list = [np.mean([x.iloc[i-2],x.iloc[i-1],x.iloc[i]]) if i>1 else None for i in range(14)]
    return(ma_list)

In [183]:
df_ma3 = pd.DataFrame(columns=['Date','ma3Requests','ma3Rides','ma3Fare','ma3NewDriver','ma3TotalDrivers','ma3OnlineDrivers',
                               'ma3AvgDistance/Ride(km)','ma3AvgDuration/Ride(min)','ma3Rides/Requests','ma3Online/Total'])

In [184]:
df_ma3['Date'] = grab['Metrics']

In [185]:

df_ma3['ma3Requests'] = ma(grab['Requests'])
df_ma3['ma3Rides'] = ma(grab['Rides'])
df_ma3['ma3Fare'] = ma(grab['Fare'])
df_ma3['ma3NewDriver'] = ma(grab['NewDriver'])
df_ma3['ma3TotalDrivers'] = ma(grab['TotalDrivers'])
df_ma3['ma3OnlineDrivers'] = ma(grab['OnlineDrivers'])
df_ma3['ma3AvgDistance/Ride(km)'] = ma(grab['AvgDistance/Ride(km)'])
df_ma3['ma3AvgDuration/Ride(min)'] = ma(grab['AvgDuration/Ride(min)'])
df_ma3['ma3Rides/Requests'] = mas(grab['Rides/Requests'])
df_ma3['ma3Online/Total'] = mas(grab['Online/Total'])

In [186]:
df_ma3

,Date,ma3Requests,ma3Rides,ma3Fare,ma3NewDriver,ma3TotalDrivers,ma3OnlineDrivers,ma3AvgDistance/Ride(km),ma3AvgDuration/Ride(min),ma3Rides/Requests,ma3Online/Total
0,6/7/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7/7/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/7/2015,3457.0,2290.0,12412.0,25.0,244.0,195.0,8.0,46.0,0.667490,0.808898
3,9/7/2015,3675.0,2224.0,13305.0,30.0,274.0,193.0,10.0,69.0,0.615681,0.720486
4,10/7/2015,3894.0,2044.0,14534.0,27.0,301.0,201.0,9.0,85.0,0.525652,0.663790
5,11/7/2015,3822.0,2008.0,15047.0,20.0,322.0,228.0,10.0,88.0,0.527150,0.704340
6,12/7/2015,3796.0,1960.0,18283.0,23.0,346.0,251.0,8.0,63.0,0.518162,0.730334
7,13/7/2015,4082.0,1949.0,22678.0,32.0,378.0,270.0,9.0,44.0,0.485175,0.713260
8,14/7/2015,4563.0,1861.0,19420.0,41.0,419.0,273.0,8.0,41.0,0.412196,0.653179
9,15/7/2015,4537.0,1925.0,19205.0,46.0,465.0,287.0,9.0,57.0,0.431937,0.623760
10,16/7/2015,4296.0,2023.0,14099.0,49.0,515.0,328.0,9.0,76.0,0.480808,0.630170
11,17/7/2015,4101.0,2144.0,15507.0,49.0,564.0,425.0,10.0,71.0,0.524062,0.743184
12,18/7/2015,4439.0,2139.0,14623.0,41.0,605.0,462.0,9.0,77.0,0.486316,0.766089
13,19/7/2015,4573.0,2112.0,15498.0,29.0,635.0,514.0,9.0,75.0,0.463348,0.809729

In [178]:
grab.to_csv('C:/Users/GE62/Desktop/grabData1.csv')

In [187]:
df_ma3.to_csv('C:/Users/GE62/Desktop/ma3grab.csv')

In [188]:
def ma5(x):
    ma_list = [int(np.mean([x.iloc[i-4],x.iloc[i-3],x.iloc[i-2],x.iloc[i-1],x.iloc[i]])) if i>3 else None for i in range(14)]
    return(ma_list)
def ma5s(x):
    ma_list = [np.mean([x.iloc[i-4],x.iloc[i-3],x.iloc[i-2],x.iloc[i-1],x.iloc[i]]) if i>3 else None for i in range(14)]
    return(ma_list)

In [189]:
df_ma5 = pd.DataFrame(columns=['Date','ma5Requests','ma5Rides','ma5Fare','ma5NewDriver','ma5TotalDrivers','ma5OnlineDrivers',
                               'ma5AvgDistance/Ride(km)','ma5AvgDuration/Ride(min)','ma5Rides/Requests','ma5Online/Total'])
df_ma5['Date'] = grab['Metrics']
df_ma5['ma5Requests'] = ma5(grab['Requests'])
df_ma5['ma5Rides'] = ma5(grab['Rides'])
df_ma5['ma5Fare'] = ma5(grab['Fare'])
df_ma5['ma5NewDriver'] = ma5(grab['NewDriver'])
df_ma5['ma5TotalDrivers'] = ma5(grab['TotalDrivers'])
df_ma5['ma5OnlineDrivers'] = ma5(grab['OnlineDrivers'])
df_ma5['ma5AvgDistance/Ride(km)'] = ma5(grab['AvgDistance/Ride(km)'])
df_ma5['ma5AvgDuration/Ride(min)'] = ma5(grab['AvgDuration/Ride(min)'])
df_ma5['ma5Rides/Requests'] = ma5s(grab['Rides/Requests'])
df_ma5['ma5Online/Total'] = ma5s(grab['Online/Total'])

In [190]:
df_ma5

,Date,ma5Requests,ma5Rides,ma5Fare,ma5NewDriver,ma5TotalDrivers,ma5OnlineDrivers,ma5AvgDistance/Ride(km),ma5AvgDuration/Ride(min),ma5Rides/Requests,ma5Online/Total
0,6/7/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7/7/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/7/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9/7/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10/7/2015,3656.0,2169.0,12500.0,25.0,272.0,203.0,9.0,65.0,0.601622,0.757795
5,11/7/2015,3697.0,2143.0,14490.0,24.0,297.0,219.0,10.0,75.0,0.586772,0.742685
6,12/7/2015,3833.0,2003.0,17159.0,26.0,323.0,219.0,9.0,70.0,0.524086,0.676230
7,13/7/2015,4031.0,1964.0,18660.0,29.0,353.0,248.0,9.0,64.0,0.492233,0.700412
8,14/7/2015,4230.0,1925.0,18158.0,31.0,384.0,267.0,8.0,58.0,0.464681,0.702300
9,15/7/2015,4219.0,1931.0,19962.0,37.0,421.0,271.0,9.0,53.0,0.467857,0.652212
10,16/7/2015,4316.0,1973.0,18091.0,47.0,468.0,308.0,9.0,57.0,0.464428,0.655910
11,17/7/2015,4413.0,2036.0,16493.0,46.0,515.0,371.0,9.0,63.0,0.468221,0.710010
12,18/7/2015,4433.0,2045.0,15129.0,42.0,557.0,386.0,9.0,73.0,0.468542,0.683909
13,19/7/2015,4322.0,2124.0,15738.0,40.0,597.0,452.0,9.0,78.0,0.495119,0.749840

In [191]:
df_ma5.to_csv('C:/Users/GE62/Desktop/ma5grab.csv')

In [192]:
df_quant.to_csv('C:/Users/GE62/Desktop/quant.csv')

In [193]:
df_quant

,Metric,Requests,Rides,Fare,NewDriver,OnlineDrivers,AvgDistance/Ride(km),AvgDuration/Ride(min),Rides/Requests,Online/Total
0,Mean,4081.000000,2078.000000,15666,32.000000,311.000000,9.000000,65.000000,0.521150,0.732032
1,Median,3966.000000,2037.000000,13737,31.000000,262.000000,9.000000,68.000000,0.502820,0.750371
2,Variance,276931.214286,32503.428571,27263997,180.500000,17108.500000,3.642857,619.857143,0.010530,0.018060
3,StandardDeviation,526.242543,180.287073,5221,13.435029,130.799465,1.908627,24.896930,0.102617,0.134388
4,Max14Days,4999.000000,2537.000000,25843,60.000000,595.000000,12.000000,95.000000,0.781096,0.971311
5,Min14Days,3248.000000,1784.000000,8970,10.000000,170.000000,6.000000,21.000000,0.356871,0.550781

In [210]:
growth = pd.DataFrame(columns = ['Metric','Requests','Rides','Fare','NewDriver'])

In [213]:
req = 0
rides = 0
fare = 0
new = 0

req1 = 0
rides1 = 0
fare1 = 0
new1 = 0 
for i in range(14):
    if i<7:
        req  += grab['Requests'].iloc[i]
        rides += grab['Rides'].iloc[i]
        fare += grab['Fare'].iloc[i]
        new += grab['NewDriver'].iloc[i]
    else:
        req1  += grab['Requests'].iloc[i]
        rides1 += grab['Rides'].iloc[i]
        fare1 += grab['Fare'].iloc[i]
        new1 += grab['NewDriver'].iloc[i]

In [216]:
growth['Metric'] = ['Total in 1W','Total in 2W','+% Growth']
growth['Requests'] = [req,req1,(req1-req)/req * 100]
growth['Rides'] = [rides,rides1,(rides1-rides)/rides * 100]
growth['Fare'] = [fare,fare1,(fare1-fare)/fare * 100]
growth['NewDriver'] = [new,new1,(new1-new)/new * 100]

In [217]:
growth

        Metric      Requests         Rides           Fare   NewDriver
0  Total in 1W  25766.000000  14732.000000  104696.000000  174.000000
1  Total in 2W  31373.000000  14368.000000  114635.000000  287.000000
2    +% Growth     21.761236     -2.470812       9.493199   64.942529

In [219]:
835/808

1.0334158415841583

In [220]:
200/195

1.0256410256410255